page-event-date-details {
    .swiper-container {
        max-height: 35rem;
    }
    ul.highlight {
        padding-left: 0;
        font-size: 1.2rem;
        list-style: none;

        li {
            margin-bottom: 1rem;
        }
    }

    .text-sm {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}
